In [1]:
import pandas as pd #Se usa para el manejo de dataFrame#
import numpy as np #Se usa para el manejo de estructura de datos# 
import matplotlib.pyplot as pit #Se usa para crear gráficos#

<h2 Style="color:#94ba65;text-align:center">Proyecto Venta de Bienes Raíces</h2>

<img src="bienes.jpg" width="500" height="500" align="center"/>

<h4 Style = "color: #e35241"> Importación de datos </h4>

In [2]:
df = pd.read_csv("DataSet.csv", sep=";",  low_memory=False)

In [3]:
df.dtypes

numero_de_serie       int64
lista_año             int64
fecha_registro       object
ciudad               object
direccion            object
valor_tasado        float64
importe_venta         int64
ratio_ventas         object
tipo_propiedad       object
tipo_residencial     object
Unnamed: 10          object
Unnamed: 11          object
Unnamed: 12          object
Unnamed: 13          object
Unnamed: 14          object
Unnamed: 15          object
Unnamed: 16          object
Unnamed: 17          object
Unnamed: 18          object
Unnamed: 19          object
Unnamed: 20          object
Unnamed: 21          object
dtype: object

In [4]:
df [["importe_venta "]]=df [["importe_venta "]].astype("int")

<h2 style="color: #6495ED">Respuestas a las preguntas</h2>

<h4 style="color: #0b2e59">1.Cuál es el ingreso anual de las propiedades vendidas?</h4>

In [5]:
df['importe_venta '].sum()

73871340881

<p> R. El ingreso anual de ventas asciende a 73 871 340 881</p>

<h4 style="color: #0b2e59">2.Qué tipo de propiedad tiene mayor facilidad de venta?</h4>

In [6]:
gf=df.pivot_table(index="tipo_propiedad",values="importe_venta ", aggfunc="sum")
gf = gf.sort_values('importe_venta ', ascending=False)
gf

                importe_venta
tipo_propiedad
Residential        67078501579
Commercial          3456687331
Apartments          1874129476
Vacant Land          925880107
Industrial           411997723
Condo                 84892239
No indica             36428882
Public Utility         1848544
Single Family           530000
Two Family              395000
Three Family             50000

<p> R. Las propiedades con mayor venta son de tipo residencial</p>

<h4 style="color: #0b2e59">3.En cuál ciudad o pueblo se dan mayore cantidad de ventas y qué elementos particulares tienen esas ciudades o pueblos?</h4>

In [7]:
gf=df.pivot_table(index="ciudad",values="importe_venta ", aggfunc="sum")
gf = gf.sort_values('importe_venta ', ascending=False)
gf

            importe_venta
ciudad
Greenwich       7611445711
Stamford        6789999434
Norwalk         3137906269
Darien          2056298238
New Canaan      1757969141
...                    ...
Scotland          19036991
Bozrah            16620261
Union             10823078
Voluntown         10376500
Hartland           6398691

[169 rows x 1 columns]

<p> R. El mayor volumen de ventas se da en la ciudad de Greenwich y no hay suficientes datos para determinar a qué se debe esta situación</p>

<h4 style="color: #0b2e59">4.Cuál es el costo promedio de las propiedades resdenciales y comerciales?</h4>

In [8]:
gf=df.pivot_table(index="tipo_propiedad",values="valor_tasado", aggfunc="mean")
gf = gf.sort_values("valor_tasado", ascending=False)
gf

                 valor_tasado
tipo_propiedad
Apartments      162313.921348
Commercial      123600.033881
Industrial       68981.177778
Residential      12539.237600
Condo             9311.674931
Single Family     7196.500000
Public Utility    6587.000000
Vacant Land       6013.238523
Three Family      2674.000000
Two Family         876.500000
No indica           91.315789

<p> R. El costo promedio de las propiedades tipo residenciales es 12 539.24 y las tipo comerciales es 12 3600.03</p>

<h4 style="color: #0b2e59">5.Cuál es el tipo de propiedades residenciales que se vende con mayor frecuencia, dónde y con qué costo promedio?</h4>

In [17]:
gf=df[df.tipo_propiedad== 'Residential'].pivot_table(index="tipo_propiedad",columns="tipo_residencial",values="importe_venta ", aggfunc="sum")
gf

tipo_residencial,Condo,Four Family,Single Family,Three Family,Two Family
tipo_propiedad,,,,,
Residential,5187371747,85079505,60332983772,602838287,870228268

<p> R. El tipo de propiedad residencial que más se vende es unifamiliar</p>

In [27]:
gf=df[df.tipo_residencial== 'Single Family'].pivot_table(index="ciudad",values="importe_venta ", aggfunc="sum")
gf = gf.sort_values("importe_venta ", ascending=False)
gf

            importe_venta
ciudad
Greenwich       7208644437
Stamford        4491311683
Norwalk         2845554192
Darien          2024471952
New Canaan      1656880881
...                    ...
Scotland          18115991
Bozrah            16040261
Union             10823078
Voluntown         10376500
Hartland           6398691

[169 rows x 1 columns]

<p> R. Las residencias unipersonales se venden mayoritariamente en Greenwich</p>

In [29]:
gf=df[df.tipo_residencial== 'Single Family'].pivot_table(index="ciudad",values="valor_tasado", aggfunc="mean")
gf = gf.sort_values("valor_tasado", ascending=False)
gf

            valor_tasado
ciudad
Greenwich   73596.627418
New Canaan  58091.257685
Darien      49396.921303
Brookfield  43759.342960
Warren      39868.974790
...                  ...
Andover       917.824468
Canaan        916.164557
Clinton       856.932638
Norwich       677.201327
Chaplin       404.050000

[169 rows x 1 columns]

<p> R. El costo promedio de las residencias unipersonales en Greenwich es de 73 596,63</p>

<h4 style="color: #0b2e59">6.Cuál es el margen promedio de ganancia por cada una de las propiedades vendidas?</h4>

In [35]:
venta=df['importe_venta '].mean()
venta

369332.69777964434

In [37]:
costo=df['valor_tasado'].mean()
costo

13918.634278138752

In [42]:
margen=(venta-costo)/venta*100
margen

96.23141022665611

In [ ]:
<p> R. El margen promedio de ganancia por la propiedaddes vendidas es de un 96.23%</p>